h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rokkitt', serif;
}

h1 {
	color: #CC9314;
}

h2 {
	color: #997C3D;
}

h3 {
	color: #FF7100;
}

h4 {
	color: #A8FFF3;
}

h5 {
	color: #4BCC95;
}

h6 {
	color: #A0CCAC;
}